@mixin h0-h6() {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-rendering: optimizeLegibility;
}


@mixin h0($important: '', $font-size-only: false) {
  @if ($important != '' and $important != '!important') {
    @error "Parameter passed as $important must be simply `!important` if passed, and nothing else";
  }

  @if ($font-size-only == false) {
    @include h0-h6();
  }

  font-size: #{my-font-size(h0, small) + $important};

  @include breakpoint(sm up) {
    font-size: #{my-font-size(h0, large) + $important};
  }
}


@mixin h1($important: '', $font-size-only: false) {
  @if ($important != '' and $important != '!important') {
    @error "Parameter passed as $important must be simply `!important` if passed, and nothing else";
  }

  @if ($font-size-only == false) {
    @include h0-h6();
  }

  font-size: #{my-font-size(h1, small) + $important};

  @include breakpoint(sm up) {
    font-size: #{my-font-size(h1, large) + $important};
  }
}

@mixin h2($important: '', $font-size-only: false) {
  @if ($important != '' and $important != '!important') {
    @error "Parameter passed as $important must be simply `!important` if passed, and nothing else";
  }

  @if ($font-size-only == false) {
    @include h0-h6();
  }

  font-size: #{my-font-size(h2, small) + $important};
  line-height: $headings-line-height;

  @include breakpoint(sm up) {
    font-size: #{my-font-size(h2, large) + $important};
  }
}

@mixin h3($important: '', $font-size-only: false) {
  @if ($important != '' and $important != '!important') {
    @error "Parameter passed as $important must be simply `!important` if passed, and nothing else";
  }

  @if ($font-size-only == false) {
    @include h0-h6();
  }

  font-size: #{my-font-size(h3, small) + $important};
  line-height: $headings-line-height;

  @include breakpoint(sm up) {
    font-size: #{my-font-size(h3, large) + $important};
  }
}

@mixin h4($important: '', $font-size-only: false) {
  @if ($important != '' and $important != '!important') {
    @error "Parameter passed as $important must be simply `!important` if passed, and nothing else";
  }

  @if ($font-size-only == false) {
    @include h0-h6();
  }

  font-size: #{my-font-size(h4, small) + $important};

  @include breakpoint(sm up) {
    font-size: #{my-font-size(h4, large) + $important};
  }
}

@mixin h5($important: '', $font-size-only: false) {
  @if ($important != '' and $important != '!important') {
    @error "Parameter passed as $important must be simply `!important` if passed, and nothing else";
  }

  @if ($font-size-only == false) {
    @include h0-h6();
  }

  font-size: #{my-font-size(h5, small) + $important};

  @include breakpoint(sm up) {
    font-size: #{my-font-size(h5, large) + $important};
  }
}

@mixin h6($important: '', $font-size-only: false) {
  @if ($important != '' and $important != '!important') {
    @error "Parameter passed as $important must be simply `!important` if passed, and nothing else";
  }

  @if ($font-size-only == false) {
    @include h0-h6();
  }

  font-size: #{my-font-size(h6, small) + $important};

  @include breakpoint(sm up) {
    font-size: #{my-font-size(h6, large) + $important};
  }
}
