.agile {
  &__dots {
    bottom: 0;
    display: block;
    left: 10px;
    position: absolute;
    width: 30px;
  }

  &__list,
  &__track {
    height: 100%;
  }

  &__dot {
    margin-bottom: 10px;

    button {
      background-color: transparent;
      border: 1px solid #fff;
      margin-top: 10px;

      &:hover {
        background-color: #fff;
      }
    }

    &--current {
      button {
        background-color: #fff;
      }
    }
  }
}

.slide {
  background: {
    position: center;
    size: cover;
  }
}

.slide--1 { background-image: url('~@/assets/images/te-113.jpg'); }
.slide--2 { background-image: url('~@/assets/images/te-25.jpg'); }
.slide--3 { background-image: url('~@/assets/images/te-98.jpg'); }
.slide--4 { background-image: url('~@/assets/images/te-93.jpg'); }
.slide--5 { background-image: url('~@/assets/images/te-18.jpg'); }
.slide--6 { background-image: url('~@/assets/images/te-107.jpg'); }
