.agile {
  &__dots {
    bottom: 0;
    display: block;
    left: 10px;
    position: absolute;
    width: 30px;
  }

  &__list,
  &__track {
    height: 100%;
  }

  &__dot {
    margin-bottom: 10px;

    button {
      background-color: transparent;
      border: 1px solid #fff;
      margin-top: 10px;

      &:hover {
        background-color: #fff;
      }
    }

    &--current {
      button {
        background-color: #fff;
      }
    }
  }
}

.slide {
  background: {
    position: center;
    size: cover;
  }
}

.slide--1 { background-image: url(https://images.unsplash.com/photo-1471253794676-0f039a6aae9d?ixlib=rb-0.3.5…EyMDd9&s=f14ecac…&auto=format&fit=crop&w=2550&q=80); }
.slide--2 { background-image: url('https://images.unsplash.com/photo-1498429152472-9a433d9ddf3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ff6b9a293092bc1ab51d39d48c5fd8e&auto=format&fit=crop&w=3900&q=80'); }
.slide--3 { background-image: url('https://images.unsplash.com/photo-1458945037814-389ec6994cbd?ixlib=rb-0.3.5&s=9abd9ae14a4fc74309a42835eeabd797&auto=format&fit=crop&w=3900&q=80'); }

