.c_footer {
  border-top: 1px solid $blue;
  font-family: $family-brown;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  p {
    font-size: $size-6;
  }
}


  .c_footer__end {
    @include mobile {
      display: flex;
      flex-direction: column-reverse;
    }
  }
