/**
 * Hero component
 *
 * 1) Override inline styled agile component (not sure why inlined but...)
 */

.c_hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 240px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $dark;
    opacity: 0.2;
    z-index: 1;
  }
}


  .c_hero__main {
    position: relative;
    z-index: 10;
  }


  .c_hero__bg {
    content: '';
    position: absolute !important; /* [1] */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

    .slide {
      min-height: 100%;
    }
  }
