p {
  margin-bottom: $size-4;
  font-size: 22px;
}

.subtitle {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  border-bottom: 1px solid currentColor;
  text-transform: uppercase;
  font-family: $family-sans-serif;
  font-size: $size-small;
  padding: $size-7;
  letter-spacing: 0.2em;

  &[class*="has-background"] {
    border-bottom: none;
  }
}

.has-background-medium-blue { background-color: $medium-blue; }
.has-background-medium-light-blue { background-color: $lighter-blue; }

.button {
  font-family: $family-lato;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  &:hover, &:focus, &:active {
    background-color: $dark;
    color: $light;
  }

  &.is-large {
    padding: 30px 40px;
    font-size: $size-7;
  }
}
