html {
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

p {
  margin-bottom: $size-4;
  font-size: 22px;
}

a {
  background-image: linear-gradient(to right, rgba($dark, 0.25) 0%, rgba($dark, 0.25) 100%);
  background-repeat: repeat-x; // make it horizontal
  background-position: 0 100%; // change the second value to adjust how far from the top the underline should be
  background-size: 100% 0.15em; // change the second value to the desired height of the underline
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
    background-image: linear-gradient(to right, rgba($dark, 0.5) 0%, rgba($dark, 0.5) 100%);
  }
}

input {
  border: none;
  color: inherit;

  &:focus, &:active {
    outline: 5px solid $beige;
  }
}

.subtitle {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  border-bottom: 1px solid currentColor;
  text-transform: uppercase;
  font-family: $family-sans-serif;
  font-size: $size-small;
  padding: $size-7;
  letter-spacing: 0.2em;
  text-align: center;

  &[class*="has-background"] {
    border-bottom: none;
  }
}

.has-background-medium-blue { background-color: $medium-blue; }
.has-background-lighter-blue { background-color: $lighter-blue; }

.button {
  font-family: $family-lato;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px 30px;
  height: auto;

  &:hover, &:focus, &:active {
    background-color: $dark;
    color: $light;
  }

  &,
  &.is-large {
    font-size: $size-7;
  }

  &.is-large {
    padding: 26px 36px;
  }
}

.is-stacked-mobile {
  @include mobile {
    flex-direction: column;
  }
}
