/**
 * Styling for layout object blocks
 *
 * Responsible for our responsive spacing between elements
 */

.o_block {
  display: block;
     padding-top: my-spacing(large); // 40px
  padding-bottom: my-spacing(large); // 40px
}

.o_block\@xsd {
  @include breakpoint (xs down) {
       padding-top: my-spacing(large); // 40px
    padding-bottom: my-spacing(large); // 40px
  }
}

.o_block\@sd {
  @include breakpoint (sm down) {
       padding-top: my-spacing(large); // 40px
    padding-bottom: my-spacing(large); // 40px
  }
}

.o_block--tiny {
     padding-top: my-spacing(small); // 10px
  padding-bottom: my-spacing(small); // 10px
}

.o_block--small {
     padding-top: my-spacing(medium); // 20px
  padding-bottom: my-spacing(medium); // 20px
}

.o_block--small\@xsd {
  @include breakpoint(xs down) {
       padding-top: my-spacing(medium); // 20px
    padding-bottom: my-spacing(medium); // 20px
  }
}

.o_block--small\@sd {
  @include breakpoint(sm down) {
       padding-top: my-spacing(medium); // 20px
    padding-bottom: my-spacing(medium); // 20px
  }
}

.o_block--medium-small {
     padding-top: my-spacing(medium-large); // 30px
  padding-bottom: my-spacing(medium-large); // 30px
}

.o_block--medium-large {
     padding-top: my-spacing(xlarge); // 60px
  padding-bottom: my-spacing(xlarge); // 60px
}

.o_block--large {
     padding-top: my-spacing(xlarge); // 60px
  padding-bottom: my-spacing(xlarge); // 60px

  @include breakpoint(sm up) {
       padding-top: my-spacing(xxlarge); // 80px
    padding-bottom: my-spacing(xxlarge); // 80px
  }
}

.o_block--large\@su {
  @include breakpoint(sm up) {
       padding-top: my-spacing(xxlarge); // 80px
    padding-bottom: my-spacing(xxlarge); // 80px
  }
}

.o_block--huge {
     padding-top: my-spacing(xxlarge); // 80px
  padding-bottom: my-spacing(xxlarge); // 80px

  @include breakpoint(sm up) {
       padding-top: my-spacing(xxxlarge); // 120px
    padding-bottom: my-spacing(xxxlarge); // 120px
  }
}

.o_block--huge\@xl {
  @include breakpoint(xl up) {
       padding-top: my-spacing(xxxlarge); // 120px
    padding-bottom: my-spacing(xxxlarge); // 120px
  }
}

.o_block--massive {
     padding-top: my-spacing(xxxlarge); // 120px
  padding-bottom: my-spacing(xxxlarge); // 120px

  @include breakpoint(sm up) {
       padding-top: my-spacing(huge); // 160px
    padding-bottom: my-spacing(huge); // 160px
  }
}

.o_block--top {
  padding-bottom: 0;
}

@include breakpoint(md down) {
  .o_block--top\@md {
    padding-bottom: 0;
  }
}

.o_block--bottom {
  padding-top: 0;
}

.o_block--bottom\@xsd {
  @include breakpoint(xs down) {
    padding-top: 0;
  }
}

.o_block--bottom\@sd {
  @include breakpoint(sm down) {
    padding-top: 0;
  }
}
