@font-face {
  font-family: 'Ashbury Light';
  src: url('/fonts/AshburyLig-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/AshburyLig-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/AshburyLig-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/AshburyLig-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/AshburyLig-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/AshburyLig-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


$display-font-family: "Ashbury Light", "Open sans";
$websafe-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-family: "Lato", $websafe-font-family;




$my-font-sizes: (
  h0: ( small: 42px, large: 79px ),
  h1: ( small: 34px, large: 64px ),
  h2: ( small: 27px, large: 45px ),
  h3: ( small: 22px, large: 32px ),
  h4: ( small: 18px, large: 23px ),
  h5: ( small: 16px, large: 18px ),
  h6: ( small: 14px, large: 16px ),
  tiny: 8px,
);
