.c_dictionary {
  margin-bottom: 0;
}


  .c_dictionary__word {
    @include h0();
    line-height: 1;
    letter-spacing: 0;
    display: block;
  }


  .c_dictionary__meta {
    display: block;
    @include h3();
    margin-bottom: my-spacing(small);
  }


    .c_dictionary__phoenetic {
    }


    .c_dictionary__grammar {
      @include h4();
    }


  .c_dictionary__definition {
    @include h5();
    display: block;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 2em;

    @at-root #{ol} {
      padding-left: 2em;
      list-style-type: disc;
    }

    & > li {
      position: relative;

      &::before {
        counter-increment: li;
        position: absolute;
        left: -0.4em;
        width: 1em;
        font-weight: bold;
      }
    }
  }


    .c_dictionary__bullet {
      &::before {
        text-align: right;
      }
    }


    .c_dictionary__bullet--a,
    .c_dictionary__bullet--t,
    .c_dictionary__bullet--e {
      padding-left: 1em;
      margin-left: -1em;
      list-style-type: none;
    }


    .c_dictionary__bullet--a { &::before { content: "a:"; } }
    .c_dictionary__bullet--t { &::before { content: "t:"; } }
    .c_dictionary__bullet--e { &::before { content: "e:"; } }
