.c_signup-form {}


  .c_signup-form__label {
    @include h5();
    display: block;
  }


  .c_signup-form__form {
    font-size: 16px;
    color: my-color(greyscale, white);
    max-width: 400px;
    margin: 0 auto;

    @include breakpoint(md up) {
      display: inline-flex;
      width: 100%;
      margin: 0;
    }
  }


    .c_signup-form__input,
    .c_signup-form__button {
      height: 41px;
      text-align: center;

      @include breakpoint(sm down) {
        width: 100%;
      }
    }

    .c_signup-form__input {
      @include placeholder() {
        color: rgba(my-color(greyscale, white), 0.8);
      }

      position: relative;
      z-index: my-z-index(grass);// pop up above button so hover effect on border works
      transition: all my-transition-speed(medium-slow) ease !important;
      background-color: rgba(62,56,49,0);
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10px;
      border-color: rgba(my-color(greyscale, white),0.3);

      &, &:focus {
        border-style: solid;
      }

      &:focus {
        box-shadow: none;
        border-color: my-color(greyscale, white);
        color: my-color(greyscale, white);
        font-weight: bold;
        outline: none;
      }

      @include breakpoint(sm down) {
        display: block;
      }

      @include breakpoint(md up) {
        margin-bottom: 0;
        font-size: 16px;
        border-radius: 5px 0 0 5px;
        text-align: left;
      }
    }

    .c_signup-form__button {
      margin: 0;
      font-size: 16px;
      background-color: #251e17;
      color: rgba(my-color(greyscale, white), 0.8);
      border-color: rgba(my-color(greyscale, white),0.3);
      border-style: solid;
      border-width: 1px;
      margin-left: -1px;

      @include breakpoint(md up) {
        border-radius: 1000px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 0 5px 5px 0;
      }

      &:hover, &:focus, &:active {
        color: my-color(greyscale, white);
        border-color: my-color(greyscale, white);
        outline: none !important;
      }
    }
