.c_slide-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}


.c_slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: my-color(greyscale, white);
  background-color: my-color(greyscale, tuatara);
  transition: all 500ms ease;

  .c_slide-container[data-slide="0"] &[data-slide-pos="-1"],
  .c_slide-container[data-slide="1"] &[data-slide-pos="-1"] {
    .c_slide__main {
      transform: translateX(-100%);
    }

    .c_slide__bg {
      opacity: 0;
    }
  }

  .c_slide-container[data-slide="-1"] &[data-slide-pos="0"] {
    .c_slide__main {
      transform: translateX(100%);
    }

    .c_slide__bg {
      opacity: 0;
    }
  }

  .c_slide-container[data-slide="1"] &[data-slide-pos="0"] {
    .c_slide__main {
      transform: translateX(-100%);
    }

    .c_slide__bg {
      opacity: 0;
    }
  }

  .c_slide-container[data-slide="-1"] &[data-slide-pos="1"],
  .c_slide-container[data-slide="0"] &[data-slide-pos="1"] {
    .c_slide__main {
      transform: translateX(100%);
    }

    .c_slide__bg {
      opacity: 0;
    }
  }
}


  .c_slide__bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    @include breakpoint(lg up) {
      background-attachment: fixed;
    }

    $slides: brewery bulb tea-box tea-fields1 tea-fields2 tea-burnt tea-picker tea-picker2 metal-building glass1 glass2 glass3 glass4 lockers grapes mary restaurant1 restaurant2 restaurant3 we-care;

    @each $slide in $slides {
      .c_slide--#{$slide} & { background-image: url("../img/bg/#{$slide}.jpg"); }
    }

    .c_slide--wine-box & {
      &::after {
        background-color: rgba(my-color(greyscale, black), 0.3);
      }
    }

    // reverse the order, first on top last at bottom
    $slideCount: 10;

    @for $i from 1 through $slideCount {
      .c_slide-container:nth-child(#{$i}) & { z-index: $slideCount - $i; }
    }

    .c_slide-container.is-hidden & {
      opacity: 0;
    }

    .c_slide.with-transition & {
      transition: all 500ms ease;
    }

    &::after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(my-color(greyscale, black), 0.5);
      z-index: my-z-index(grass);

      .c_slide--lockers & {
        background-color: rgba(my-color(greyscale, black), 0.55);
      }
    }
  }


  .c_slide__main {
    position: relative;
    padding: my-spacing(large);
    margin: 0 auto;
    z-index: my-z-index(bungalow);
    width: 100%;
    transition: all 500ms ease;
  }


  .c_slide__arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: my-color(greyscale, white);
    z-index: my-z-index(tower-block);
    transition: all 250ms ease;
    padding: my-spacing(medium);

    .fa {
      @include breakpoint (sm down) {
        font-size: 2.5em;
      }
    }
  }

  .c_slide__arrow--top {
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
  }

  .c_slide__arrow--left {
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
  }

  .c_slide__arrow--right {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
  }
