$beige: #DDD7D1;
$blue: #51545D;
$medium-blue: #686A72;
$light-blue: #9FA0A5;
$white-bis: #EDEDED;

$primary: $beige;
$dark: $blue;
$light: $beige;
$grey-dark: $light-blue;
$grey-light: $beige;

$link: $dark;

$text: $blue;
$text-light: $light;

$title-color: inherit;
$subtitle-color: inherit;
