$family-playfair: "Playfair", "Merriweather", "Georgia", serif;
$family-brown: "Brown", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-lato: 'Lato', $family-brown;

$family-serif: $family-playfair;
$family-sans-serif: $family-brown;

$family-primary: $family-serif;
